%h1 Welcome to DhobE
%h3 Online, Optimized, Oh so clean


%h4 The new way to get your laundry done

=image_tag 'vogue-frustration.jpg', :class => "img-responsive", :height => "300px"
%hr
%h4 Tired of Doing Laundry?
%h3 We pick up and drop off at your doorstep for only $18.99/pound
%h3
  =link_to "Try DhobE", product_path(1), :class => "btn btn-primary btn-lg"
