%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} DhobE
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to "Products", products_path
          %span.sr-only (current)
      %p.navbar-text.navbar-right
        -if user_signed_in?
          Logged in as 
          =current_user.name
          =link_to "Logout", destroy_user_session_path, method: :delete
        -else
          = link_to "Log in", new_user_session_path, class: "navbar-link"
      = render "cart"
